<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-row">
			<a href="" class="logo">
				<img src="img/logo.png" alt="logo" class="logo-img">
			</a>
			<div class="burger">
				<div class="burger-line burger-top"></div>
				<div class="burger-line burger-bottom"></div>
			</div>
			<nav class="nav">
				<ul class="menu">
					<li class="menu-item">
						<a href="#" class="menu-link">Отзывы</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">Состав</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">Оплата и доставка</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</header>