<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<section class="offer">
		@import "header.html"
		<div class="container">
			<div class="offer-row">
				<div class="offer-side">
					<h1 class="title-h1">Укрепите <br>
						здоровье ваших <br>суставов</h1>
					<h2 class="text-34">и верните им эластичность <br>
						при остеоартрите</h2>
					<ul class="list">
						<li class="list-item"><span class="list-circle"></span>Помогает снять боль</li>
						<li class="list-item"><span class="list-circle"></span>Устраняет скованность суставов</li>
						<li class="list-item"><span class="list-circle"></span>Уменьшает отеки</li>
					</ul>
				</div>
				<div class="offer-side">
					<div class="form">
						<h3 class="text-28">Закажите
							сейчас по акции</h3>
						<div class="form-row">
							<div class="price">
								<p class="price-old">Старая цена</p>
								<p class="price-old_item">
									1980
									<img src="img/line-through.svg" alt="line-through" class="line-through">
									<span class="price-old_currency">руб.</span>
								</p>
							</div>
							<div class="price">
								<p class="price-new">Ваша цена</p>
								<p class="price-new_item">
									990
									<span class="price-new_currency">руб.</span>
								</p>
							</div>
						</div>
						<p class="text-18">Осталось до конца акции</p>
						<div class="timer">
							<div class="timer-col">
								<div class="timer-number">14</div>
								<p class="timer-text">Дни</p>
							</div>
							<div class="timer-col">
								<div class="timer-number">23</div>
								<p class="timer-text">Часы</p>
							</div>
							<div class="timer-col">
								<div class="timer-number">45</div>
								<p class="timer-text">Мин</p>
							</div>
						</div>
						<a href="#" class="btn">
							Заказать
							<span class="btn-span">со скидкой</span>
						</a>
					</div>
				</div>
				<img src="img/img_1.png" alt="image" class="offer-img_one">
				<img src="img/img_2.png" alt="image" class="offer-img_two">
				<img src="img/img_3.png" alt="image" class="offer-img_tree">
			</div>
		</div>
	</section>
	<section class="symptoms">
		<img src="img/img_4.png" alt="image" class="symptoms-bg">
		<div class="container">
			<h2 class="title-h2">Симптомы остеоартрита <span class="red"> не пройдут </span> <br>
				сами по себе</h2>
			<div class="symptoms-row">
				<ul class="symptoms-left">
					<li class="symptoms-item">
						<img src="img/icon_1.png" alt="icon" class="symptoms-icon">
						<div class="symptoms-col">
							<p class="text-32">Боль</p>
							<p class="text-20">Токсины, кристаллы солей и другие продукты воспалительных процессов раздражают нервные окончания суставной капсулы.</p>
						</div>
					</li>
					<li class="symptoms-item">
						<img src="img/icon_2.svg" alt="icon" class="symptoms-icon">
						<div class="symptoms-col">
							<p class="text-32">Скованность</p>
							<p class="text-20">Из-за воспаления синовиальной оболочки сустава, вырабатывается мало синовиальной жидкости, которая выступает смазкой для элементов сустава.</p>
						</div>
					</li>
					<li class="symptoms-item">
						<img src="img/icon_3.svg" alt="icon" class="symptoms-icon">
						<div class="symptoms-col">
							<p class="text-32">Отек</p>
							<p class="text-20">Из-за воспаления и деформации суставной сумки синовиальная жидкость выходит за ее пределы.</p>
						</div>
					</li>
					<li class="symptoms-item">
						<div class="symptoms-col">
							<div class="line-active"></div>
							<img src="img/icon_4.svg" alt="icon" class="symptoms-icon">
						</div>
						<div class="symptoms-col">
							<div class="line-passive"></div>
							<p class="text-26">Запущенный остеоартрит <br>
								входит в десятку самых частых
								причин инвалидности</p>
						</div>
					</li>
				</ul>
				<img src="img/Layer_80_copy_2.png" alt="image" class="symptoms-img">

			</div>
		</div>
	</section>
	<section class="banner">
		<div class="container">
			<div class="banner-row">
				<div class="banner-side">
					<h2 class="title-60">Крем <span> Pantoflex</span> </h2>
					<h3 class="text-28">поможет избавиться от боли, <br>
						снять отеки и вернет суставам подвижность</h3>
					<a href="#" class="btn">Заказать<span class="btn-text">со скидкой</span></a>
				</div>
				<div class="banner-side">
					<div class="banner-box">
						<img src="img/img_2.png" alt="image" class="banner-img_one">
						<img src="img/img_3.png" alt="image" class="banner-img_two">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="composition">
		<div class="container">
			<div class="composition-row">
				<div class="composition-side">
					<h2 class="text">Состав <span class="text-logo"> Pantoflex </span><br>
						помогает избавиться <br>
						от всех симптомов<br>
						остеоартрита</h2>
					<img src="img/layer_29_copy_9.png" alt="image" class="composition-img">
				</div>
				<div class="composition-side">
					<div class="cards">
						<div class="card">
							<p class="card-top">
								Облепиха
							</p>
							<img src="img/Layer_20_copy_5.jpg" alt="image" class="card-img">
							<p class="text-18">Противостоит воспалению суставов, снимает боль,
								способствует продлению
								работоспособности суставов.</p>
						</div>
						<div class="card">
							<p class="card-top">
								Календула
							</p>
							<img src="img/Layer_29_copy_3.jpg" alt="image" class="card-img">
							<p class="text-18">Стимулирует
								восстановление тканей,
								ускоряет процесс восстановления сустава.</p>
						</div>
						<div class="card">
							<p class="card-top">
								Каштан
							</p>
							<img src="img/layer_1.jpg" alt="image" class="card-img">
							<p class="text-18">Снимает отеки, обладает антиоксидантными свойствами, улучшает микроциркуляцию крови
								в суставах.</p>
						</div>
						<div class="card">
							<p class="card-top">
								Cульфаты
							</p>
							<img src="img/layer_2.jpg" alt="image" class="card-img">
							<p class="text-18">Укрепляет хрящевые ткани сустава, обеспечивает гладкое скольжение элементов сустава, способствует
								восстановлению хряща.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
